# node modules
node_modules/
package-lock.json

# clasp 
.clasp.json

# environment variables
.env

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Logs
logs
*.log
npm-debug.log*

# Build output
dist/
.parcel-cache/
